.aboutUsTitle{
    font-family: practica;
    font-weight: 900;
}
.aboutUsDescription{
    font-family: practica;
    font-weight: 300;
    font-size: 0.85rem;
    opacity: 0.1; /* Start with opacity 0 */
    animation: fadeIn 2.5s ease-in-out forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0.1; /* Start from opacity 0 */
    }
    to {
      opacity: 1; /* End at opacity 1 */
    }
  }
.testH{
    height: 48vh;
    object-fit: cover;
}

.fading-text {
    opacity: 0.1;
    transition: opacity 2s;
  }
  
  .fading-text.fade-in {
    opacity: 1;
  }


